
.display{
    width: 99%;
    background: black;
    color: white;
    text-align: right;
    height: 53px;
    font-size: x-large;
    border-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 35px;
}

.display > textarea{
    padding: 1px;
}