form{
    width: 98.5%;
}
.display{
    width: 100%;
    background: black;
    color: white;
    text-align: right;
    height: 38px;
    font-size: x-large;
    border-style: none;
}

.display > textarea{
    padding: 1px;
}